* {
  padding: 0%;
  margin: 0%;
  color: white;
}

body {
  text-align: center;
  margin-top: 100px;
  justify-items: center;
  background: content-box radial-gradient(#021a80, rgb(2, 16, 44));
  font-family: Arial, Helvetica, sans-serif;
  height: 700px;
  overflow: hidden;
}
.virsion {
  margin-top: 20px;
}

/* .logo {
  height: 50px;
  width: 50px;
  filter: invert(100%);
  transform: translateY(40%);
} */
.game-name {
  text-decoration: underline;
  margin-top: -10%;
  position: absolute;
  transform: translateX(-10%) translateY(200%);
  z-index: 7;
  font-size: 30px;
}
.reset-btn {
  border: none;
  background-color: #8797b569;
  border-radius: 15px;
  cursor: pointer;
}
.perent {
  margin-top: 20%;
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
  background: none;
  backdrop-filter: blur(30px);
}
.childs {
  height: 131px;
  width: 131px;
  background: none;
  text-align: center;
  align-content: center;
  font-size: 50px;
  border: 1px rgb(255, 255, 255) solid;
  border-radius: 5px;
}
.X-property {
  color: red;
  text-shadow: 0 0 0 2em red;
  font-size: 50px;
  font-weight: lighter;
}
.o-property {
  font-weight: lighter;
  color: aqua;
  font-size: 70px;
  text-shadow: 0 0 2em aqua;
}
.both-player {
  width: inherit;
  display: flex;
  font-size: 30px;
  transform: translateY(30%);
}
.X {
  transform: translateY(15%);
}
.players-name-container {
  display: flex;
}
.overlay {
  /* display: none; */
  /* background: none; */
  position: absolute;
  backdrop-filter: blur(5px);
  z-index: 4;
}
.login {
  /* display: none; */
  position: absolute;
  z-index: 5;
  justify-items: center;
  align-items: center;
  /* transform: translateY(-10%); */
  /* margin-left: 0%; */
}
.user-details {
  display: grid;
  row-gap: 20px;
  font-size: 20px;
}
.input-names {
  font-size: 20px;
  border: none;
  border-bottom: 1px white solid;
  background: none;
}
.players {
  margin-right: 10%;
}
.input-radio {
  margin-left: 10px;
}
.play-btn {
  margin-left: 0%;
  margin-top: 30px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  background-color: #8797b569;
  height: 40px;
  width: 150px;
  border-radius: 14px;
}
.massege {
  position: absolute;
  text-align: center;
  align-items: center;
  z-index: 6;
  font-size: 30px;
  border-radius: 10px;
  transform: translateY(-100%) translateX(0%);
  width: 400px;
  height: 500px;
  background: none;
  backdrop-filter: blur(10px);
  row-gap: 20px;
  /* background-color: aliceblue; */
  /* color: black; */
}
.congartulations {
  margin-top: 50%;
  margin-bottom: 10px;
}
.continou {
  margin-left: 0px;
  margin-top: 10%;
  cursor: pointer;
  font-size: 20px;
  border: none;
  background-color: #8797b569;
  height: 40px;
  width: 150px;
  border-radius: 14px;
}
.timer {
  display: flex;
  width: inherit;
  margin-left: -10%;
}
.seconds {
  margin-left: 6px;
}
@media screen and (width<=600px) {
  footer {
    width: 100%;
    text-align: center;
    transform: translate(-5%, 150%);
  }
  body {
    align-items: center;
  }
  .perent {
    transform: scale(0.9) translateX(-2.5%);
  }
  .o {
    transform: translateY(-10%);
  }
  .reset-btn {
    position: absolute;
    height: 40px;
    width: 100px;
  }
  .new-game {
    transform: translateY(-100%) translateX(-200%);
  }
  .reset-game {
    transform: translateY(-100%) translateX(80%);
  }
  .declayer-names {
    display: flex;
    column-gap: 20px;
    justify-items: center;
    margin-bottom: 30px;
    /* margin-left: -10%; */
    transform: scale(0.7) translate(-10%, 150%);
  }
  .login {
    margin-top: 50%;
    transform: translateX(0%);
  }
  .overlay {
    transform: translateY(-100%);
    height: 100%;
    width: 100%;
  }
  /* .massege {
    position: absolute;
    justify-items: center;
    align-items: center;
    width: 300px;
    height: 300px;
  }
 */
}
@media screen and (width>=600px) {
  body {
    justify-items: center;
  }
  footer {
    transform: translateY(-100%);
  }

  .perent {
    margin-top: 10%;
    transform: translateY(-30%);
  }
  .login {
    transform: translate(0%, 100%);
  }
  .reset-btn {
    transform: translate(-500%, -100%);
    height: 40px;
    width: 120px;
  }
  .game-name {
    margin-top: 10%;
    transform: translateX(0%) translateY(-580%);
  }
  .declayer-names {
    transform: translateX(-120%) translateY(-450%);
    position: absolute;
    margin-top: 50%;
  }
  .players-name-container {
    width: 300px;
  }
  .overlay {
    /* background-color: black; */
    margin-top: -50%;
    height: 100%;
    width: 100%;
  }
  .timer {
    margin-top: -5%;
  }
}
.hidden {
  display: none;
}
